<nav class="navbar">
   <nav class="wrapper">
     <div class="logo">
      <img routerLink="/" src="../../assets/logo_nav.png" alt="Logo de la Facultad Multidisciplinaria de Occidente">
     </div>
     <input type="checkbox" id="menu-toggle">
     <label for="menu-toggle" class="menu-icon"><span class="navicon"></span></label>
     <ul class="menu">
      <ng-container *ngIf="!authService.loggedIn()">
        <li routerLinkActive="active current"><a routerLink="/identidad">Identidad</a></li>
        <li routerLinkActive="active current"><a routerLink="/admisiones">Admisiones</a></li>
        <li routerLinkActive="active current"><a routerLink="/eventos">Eventos</a></li>
        <li routerLinkActive="active current"><a routerLink="/publicaciones">Publicaciones</a></li>
        <li routerLinkActive="active current"><a routerLink="/carreras">Carreras</a></li>
        <li routerLinkActive="active current"><a routerLink="/departamentos">Departamentos</a></li>
        <li routerLinkActive="active current"><a routerLink="/login">Ingresar</a></li>
      </ng-container>
      <ng-container *ngIf="authService.loggedIn()">
        <li class="account">
          <img src="https://dummyimage.com/100x100/000/fff.png" alt="Imagen de perfil" class="profile-img">
          <span id="user-name">{{ authService.currentUser.firstName }}</span>
          <i class="material-icons">
              keyboard_arrow_down
          </i>
          <ul class="submenu">
            <li routerLinkActivate="activate current"><a routerLink="/admin/perfil/:userId">Perfil</a></li>
            <li routerLinkActivate="activate current"><a routerLink="/admin">Panel Administrativo</a></li>
            <li><a (click)="onLogout()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ng-container>
     </ul>
    </nav>
</nav>