/* You can add global styles to this file, and also import other style files */
@import './abstract/variables',
        './abstract/mixins';

@import './base/typography';

@import './components/headers',
        './components/alerts',
        './components/buttons',
        './components/cards';

@import './layout/admin-content',
        './layout/navigation',
        './layout/footer',
        './layout/forms';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';

*{
	margin:0;
  padding:0;
  box-sizing:border-box;
}


h1, h2, h3 {
  letter-spacing: 2px;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}


p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
}


    




