<section class="admin-content">   
    <a routerLink="/admin/usuarios/" *ngIf="isAdmin()">
        <mat-card class="card-admin mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h3>Usuarios</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="overlay"></div>
                <div class="circle">
                    <mat-icon>supervisor_account</mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="/admin">
        <mat-card class="card-admin mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h3>Eventos</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="overlay"></div>
                <div class="circle">
                    <mat-icon>event_note</mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="/admin">
        <mat-card class="card-admin mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h3>Publicaciones</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="overlay"></div>
                <div class="circle">
                    <mat-icon>speaker_notes</mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="/admin" *ngIf="isAdmin()">
        <mat-card class="card-admin mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h3>Departamentos</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="overlay"></div>
                <div class="circle">
                    <mat-icon>account_balance</mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
    </a>

    <a routerLink="/admin">
        <mat-card class="card-admin mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h3>Suscripciones</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="overlay"></div>
                <div class="circle">
                    <mat-icon>mail</mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
    </a>

</section> <!-- header section -->
