<section class="user-profile">
  <mat-card class="card-profile mat-elevation-z8">
    <mat-card-header>
      <div class="left">
        <img class="profile-image" src="../../../assets/profile-image.jpg" alt="">
      </div>
      <div class="right">
        <h2>Perfil de Usuario</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatibus voluptas dolores, aliquid maxime iste nulla odit dolorum eveniet labore eos, blanditiis quasi consectetur unde.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, vero.</p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>datos del usuario</p>
    </mat-card-content>
  </mat-card>
</section>
